body {
    display: block;
    margin: 0px;
}

h1{
    display: block;
    font-size: 5em;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
    text-shadow: 10px solid black;
}

.container img{
    width: 160px;
    height: 160px;
    border-radius: 15px;
    margin-top: -60px;
    margin-bottom: 10px;
}

